services:
  alpine:
    pull_policy: never
    build:
      context: ./images
      dockerfile: alpine.dockerfile
      args:
        CMAKE_VERSION: ${CMAKE_VERSION}
        NINJA_VERSION: ${NINJA_VERSION}
    image: alpine_builder:arm64
    command: [ sleep, infinity ]
    restart: always
    container_name: alpine_builder
    hostname: alpine_builder
    volumes:
      - work:/work
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
      - NET_RAW
    security_opt:
      - seccomp:unconfined

  centos9:
    pull_policy: never
    build:
      context: ./images
      dockerfile: centos9.dockerfile
      args:
        CMAKE_VERSION: ${CMAKE_VERSION}
        NINJA_VERSION: ${NINJA_VERSION}
    image: centos9_builder:arm64
    command: [ sleep, infinity ]
    restart: always
    container_name: centos9_builder
    hostname: centos9_builder
    volumes:
      - work:/work
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
      - NET_RAW
    security_opt:
      - seccomp:unconfined

  centos10:
    pull_policy: never
    build:
      context: ./images
      dockerfile: centos10.dockerfile
      args:
        CMAKE_VERSION: ${CMAKE_VERSION}
        NINJA_VERSION: ${NINJA_VERSION}
    image: centos10_builder:arm64
    command: [ sleep, infinity ]
    restart: always
    container_name: centos10_builder
    hostname: centos10_builder
    volumes:
      - work:/work
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
      - NET_RAW
    security_opt:
      - seccomp:unconfined

  ubuntu:
    pull_policy: never
    build:
      context: ./images
      dockerfile: ubuntu.dockerfile
      args:
        CMAKE_VERSION: ${CMAKE_VERSION}
        NINJA_VERSION: ${NINJA_VERSION}
    image: ubuntu_builder:arm64
    command: [ sleep, infinity ]
    restart: always
    container_name: ubuntu_builder
    hostname: ubuntu_builder
    volumes:
      - work:/work
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
      - NET_RAW
    security_opt:
      - seccomp:unconfined

# x86_64 version of the build rig
  alpine_x86_64:
    platform: linux/amd64
    pull_policy: never
    build:
      context: ./images
      dockerfile: alpine.dockerfile
      args:
        CMAKE_VERSION: ${CMAKE_VERSION}
        NINJA_VERSION: ${NINJA_VERSION}
    image: alpine_builder:amd64
    command: [ sleep, infinity ]
    restart: always
    container_name: alpine_builder_x86_64
    hostname: alpine_builder_x86_64
    volumes:
      - work:/work

  centos9_x86_64:
    platform: linux/amd64
    pull_policy: never
    build:
      context: ./images
      dockerfile: centos9.dockerfile
      args:
        CMAKE_VERSION: ${CMAKE_VERSION}
        NINJA_VERSION: ${NINJA_VERSION}
    image: centos9_builder:amd64
    command: [ sleep, infinity ]
    restart: always
    container_name: centos9_builder_x86_64
    hostname: centos9_builder_x86_64
    volumes:
      - work:/work

  centos10_x86_64:
    platform: linux/amd64
    pull_policy: never
    build:
      context: ./images
      dockerfile: centos10.dockerfile
      args:
        CMAKE_VERSION: ${CMAKE_VERSION}
        NINJA_VERSION: ${NINJA_VERSION}
    image: centos10_builder:amd64
    command: [ sleep, infinity ]
    restart: always
    container_name: centos10_builder_x86_64
    hostname: centos10_builder_x86_64
    volumes:
      - work:/work

  ubuntu_x86_64:
    platform: linux/amd64
    pull_policy: never
    build:
      context: ./images
      dockerfile: ubuntu.dockerfile
      args:
        CMAKE_VERSION: ${CMAKE_VERSION}
        NINJA_VERSION: ${NINJA_VERSION}
    image: ubuntu_builder:amd64
    command: [ sleep, infinity ]
    restart: always
    container_name: ubuntu_builder_x86_64
    hostname: ubuntu_builder_x86_64
    volumes:
      - work:/work

volumes:
  work:
